.input-search{
    margin: 10px;
}
.calendar{
    color: red;
}
.role-admin{
    color: #2f54eb;
    background: #f0f5ff;
    border-color: #adc6ff;
}
.wrap-button-info-2{
    color: #0179a8;
    border: 1px solid #0179a8;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.15rem 0.375rem;
}


.wrap-button-delete-2 {
    color: #b76ba3;
    border: 1px solid #b76ba3;
    border-radius: 3px;
    padding: 0.15rem 0.4125rem;
    cursor: pointer;
    padding: 0.15rem 0.375rem;

}
.content-button{
    display: flex;
    flex-direction: column;
    background: #fff;
    /* align-items: center; */
    justify-content: space-between;
}
